body {
	text-align: center;
}

.smokey {
	width: 300px;
}

#threestations {
	width: 100%;
}

.onethird {
	text-align: center;
	float:left;
	display: inline;
	width: 33%;
}

.specialnotes {
	color: #ff0000;
}