body {
	text-align: center;
}

img {
        display: inline-block;

}

.smokey {
	height:300px;
}

#threestations {
	width: 100%;
        display: inline-block;
}

.onethird {
	text-align: center;
	display: inline-block;
}

.specialnotes {
	color: #ff0000;
}
